.btn-more {
  margin-top: 5px;
  background-color: rgb(5, 212, 01);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.btn-more:hover {
  background-color: rgb(70, 186, 93);
}

.orderBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
